@{
    ViewData["Title"] = "Home Page";
}


    
    <h1 class="title">
        <img src="~/images/moto.png" class="logo" />
        <span class="title-float">CompareMotos</span>
    </h1>
    
    <form class="form-compare">

        <div class="container">
            <label for="compare1"></label>
            <input type="text" class="input compare-inputs" id="compare1" placeholder="Digite o modelo de alguma moto">
        </div>

        <div class="divisor-form">
            <i class="fas fa-times"></i>
        </div>

        <div class="container">
            <label for="compare2"></label>
            <input type="text" class="input compare-inputs" id="compare2" placeholder="Digite o modelo de alguma moto">
        </div>

        <div class="container full-width">
            <button type="button" class="btn btn-primary">Comparar</button>
        </div>

    </form>
    