* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-image: linear-gradient( 109.6deg, rgba(0,0,0,0.93) 11.2%, rgba(63,61,61,1) 78.9% );
    background-repeat: no-repeat;
    background-size: cover;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
}

.header-wrapper .title {
    font-size: 22px;
    color: white;
}

.main-wrapper {
    display:        block;
    height:         100vh;
    padding-top:    60px;
    position:       relative;
    width:          100%;
}

.form-compare {
    display: block;
    width: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .form-compare .divisor-form{
        text-align: center;
    }

    .form-compare .divisor-form i{
        text-align: center;
        color: white;
        font-size: 20px;
    }

    .form-compare .container {
        display: block;
        margin: 20px auto;
        text-align: center;
        width: 100%;
    }

    .form-compare .container .input{
        padding: 5px;
        width: 90%;
        max-width: 500px;
        height: 35px;
    }

    .form-compare .container .btn {
        padding: 5px 10px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
        border-radius: 3px;
        border: 1px solid #DADCE0;
        font-weight: 700;
    }
